@import '../../styles/index.scss';

.ViewContainer {
    padding-top: 1vh;
}

.ViewImageContainer {
    height: 56vh;
}

.ViewHeaderTitle{
    text-align: center;
    color: $accent-color;
    font-size: 4vw;
    font-weight: 300;
    font-family: $secondary-text-font;
    width: 100%;
}

.ViewHeaderBlurb{
    color: $secondary-color;
    font-size: 1.5vw;
    font-weight: 600;
    display: block;
    @include MarginTopBottom(3vh);
    margin-left: auto;
    margin-right: auto;
}

