@import '../../styles/index.scss';

.ViewContainer{
    min-height: 1200px;
}

.ViewHeader{
    color: $secondary-text-color;
    font-size: 100px;
    font-weight: 1000;
    min-height: 120px;
    text-align: center;
    @include MarginTopBottom(15px);
}

.ViewBody{
    color: $secondary-text-color;
    font-size: 20px;
    font-weight: 600;
    min-height: 100px;
    max-width: 800px;
    display: block;
    @include MarginTopBottom(10px);
    margin-left: auto;
    margin-right: auto;
}
