frontend/node_modules
frontend/public
frontend/src
frontend/content.json
frontend/package-lock.json
frontend/package.json
frontend/README.md

docker
deploy

.dockerignore
.gitignore
config.js
Dockerfile
README.md