@import "../../styles/index.scss";

.TeamText{
  color: $secondary-text-color;
}

.TeamIcon{
    @include PaddingTopBottom(10px);
    color: $primary-color;
}

.TeamCardHeader{
    font-size: 30px;
    font-family: $primary-text-font;
    background-color: $accent-color !important;
    color: $secondary-text-color;
}

.TeamCard{
    width: 17vw;
    height: 25vw;
    text-align: center;
    background-color: $accent-color !important;
    margin: 20px;
    transition: transform $transition-time;
}

.TeamCard:hover{
    transform: scale(1.15);
}

.TeamBodyContainer {
    width: 100%;
    background-color: whitesmoke;
    padding-bottom: 80px;
}


.TeamBodyHeader {
    font-size: 35px;
    // padding-top: 25px;
    padding-bottom: 15px;
    @include PaddingLeftRight(10px);
    font-family: $primary-text-font;
}

.TeamBodyText {
    @include MarginLeftRight(15px);
    font-family: $secondary-text-font;
}

.TeamBodyFrame {
    height: 50px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    padding: 130px;
    margin: 20px;
}
