@import "../../styles/index.scss";

.TeamText{
    font-size: 1.1vw;
    color: $secondary-text-color;
}

.TeamIconLarge{
    font-size: 6vw;
    @include PaddingTopBottom(1vw);
    color: $primary-color;
}

.TeamIconSmall{
    font-size: 3vw;
    @include PaddingTopBottom(0.5vw);
    color: $primary-color;
}

.TeamCardHeader{
    font-size: 1.8vw;
    font-family: $primary-text-font;
    background-color: $accent-color !important;
    color: $secondary-text-color;
}

.TeamCard{
    width: 16vw;
    height: 21vw;
    text-align: center;
    background-color: $accent-color !important;
    margin: 1vw;
    transition: transform $transition-time;
}

.TeamCard:hover{
    transform: scale(1.15);
}

.TeamBodyHeader {
    font-size: 2vw;
    font-family: $primary-text-font;
}

.TeamBodyText {
    margin-top: 2vh;
    font-size: $content-font-size;
    font-family: $secondary-text-font;
}

.TeamBodyItemFrame {
    height: 35vh;
    border: 2px solid $primary-color;
    border-radius: 5px;
    @include MarginTopBottom(2vh);
}

.TeamBodyItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.TeamBodyItemContainer {
    height: 100%;
    width: 100%;
}

.TeamBodyItem {
    background-color: $secondary-color;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    width: 96%;
    padding: 1.5vh;
    display: flex;
}

$team-body-item-icon-height: 6vh;

.TeamBodyItemIconContainer {
    height: $team-body-item-icon-height;
    width: $team-body-item-icon-height;
}

.TeamBodyItemIcon {
    border: 2px solid $primary-color;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.TeamBodyItemTextPrimary {
    font-size: 1.4vw;
    font-family: $primary-text-font;
    margin-left: 1vw;
    color: $secondary-text-color;
    line-height: $team-body-item-icon-height;
}

.TeamBodyItemTextSecondary {
    font-size: 1vw;
    font-family: $primary-text-font;
    margin-left: 1vw;
    color: rgb(73, 73, 73);
    line-height: $team-body-item-icon-height;
}