@import "../../styles/index.scss";

$subtitlesize: 15px;

.NavBrand{
    text-decoration: none !important;
    color: $accent-color;
    font-size: 30px;
    font-family: $brand-font;
}

.NavBrand:hover{
    color: $accent-hover-color;
}

.NavLink{
    margin-left: 10px;
    margin-right: 5px;
    text-decoration: none !important;
    @include PrimarySubTitle($subtitlesize)
}

.NavLinkDropdown{
    margin-left: 10px;
    margin-right: 5px;
    text-decoration: none !important;
    @include SecondarySubTitle($subtitlesize)
}


.NavLink:hover{
    color: $primary-text-hover-color;
}

.NavContainer:hover{
    opacity: 1;
    background-color: transparent;
    border-width: 10px;
    border-radius: 5px;
}

.SignInButton{
    @include PrimarySubTitle($subtitlesize)
}

.UBCLogo{
    -webkit-filter: brightness(0) invert(1); /* Safari 6.0 - 9.0 */
    filter: brightness(0) invert(1);
}

.SubbotsLogo{
    color: $accent-color;
    margin-bottom: 8px;
}

.HeaderContainer{
    height: 15vh;
    @extend %Gradient;
}
