@import "../../styles/index.scss";

.logo {
    width: 600px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.PitchImageContainer{
    height: 98%;
}

.PitchHeader{
    text-align: left;
    color: $accent-color;
    font-size: 2.5vw;
    margin-top: 3vh;
    margin-left: 1vw;
    font-weight: 300;
    width: 100%;
}

.PitchBody{
    color: $secondary-color;
    font-size: $content-font-size;
    font-weight: 600;
    display: block;
    margin-left: 1vw;
}

.GoalImageContainer{
    height: 90%;
}

.GoalHeader{
    font-size: 3vw;
    padding-top:  4vh;
    font-family: $primary-text-font;
}

.GoalBody{
    @include MarginTopBottom(2vh);
    color: $secondary-text-color;
    font-size: $content-font-size;
    font-weight: 400;
    display: block;
}

.ProjectsContainer{
    margin-bottom: 10vh
}

.ProjectsCarousel{
    margin: auto;
    height: 68vh;
    width: 100vh;
}

.ProjectsImageContainer{
    height: 64vh;
    width: 100vh;
}

.ProjectsImageCaption{
    color: $accent-color;
    text-align: center;
}

.ProjectsHeader{
    margin-top: -3vh;
    text-align: center;
    font-size: 5vw;
    color: $accent-color;
    font-weight: 600px;
    font-family: $primary-text-font;
}

.ProjectsBody{
    margin: 5vh;
    color: $primary-text-color;
}

