@import "../../styles/index.scss";

.PitchImageContainer{
    height: 45vh;
}

.PitchHeader{
    text-align: left;
    color: $accent-color;
    font-size: 2.5vw;
    margin-top: 3vh;
    margin-left: 1vw;
    font-weight: 300;
    width: 100%;
}

.PitchBody{
    color: $secondary-color;
    font-size: $content-font-size;
    font-weight: 600;
    display: block;
    margin-left: 1vw;
}

.GoalImageContainer{
    height: 48vh;
}

.GoalHeader{
    font-size: 3vw;
    padding-top:  4vh;
    font-family: $primary-text-font;
}

.GoalBody{
    @include MarginTopBottom(2vh);
    color: $secondary-text-color;
    font-size: $content-font-size;
    font-weight: 400;
    display: block;
}
