@import "../../styles/index.scss";

.FooterContainer{
    text-align: center;
    height: 18vh;
    @extend %Gradient;
}

.FooterHeader{
    @include PrimarySubTitle(15px);
    margin: 15px;
}

.Icon{
    color: $primary-text-color;
    @include MarginLeftRight(20px);
}
