@import 'variables';

.PrimaryButton{
    border-color: $accent-color;
    color: $accent-color;
    background-color: $accent-color;
}

.PrimaryButton:hover{
    border-color: $accent-hover-color;
    color: $accent-color;
    background-color: $accent-hover-color;
}

.PrimaryOutlineButton{
    color: $accent-color !important;
    border-color: $accent-color !important;
}

.PrimaryOutlineButton:hover{
    background-color: $accent-color !important;
}

.SecondaryButton{
    border-color: $primary-color;
    color: $primary-text-color;
    background-color: $primary-color;
}

.SecondaryButton:hover{
    border-color: $secondary-color;
    color: $secondary-text-color;
    background-color: $secondary-color;
}
