$primary-color: #000;
$secondary-color: #c1c5c4;

$accent-color:  #fed136;
$accent-hover-color: #fff;

$primary-text-color: $secondary-color;
$primary-text-hover-color: #fff;

$secondary-text-color: #31393a;
$secondary-text-hover-color: #fff;

$brand-font: 'Montserrat';
$primary-text-font: 'Montserrat';
$secondary-text-font: 'Arial';
