@import '../../styles/index.scss';

.ContactButton{
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 1000;
    text-align: left !important;
    @extend .PrimaryButton;
}

.ContactText{
    font-weight: 600;
    @include SecondarySubTitle(1vw);
}

.MailIcon{
    margin-right: 0.6vw;
    color: $secondary-text-color;
}
