@import "../../styles/index.scss";

.FooterContainer{
    text-align: center;
    @include PaddingTopBottom(20px);
    background-color: $primary-color;
    border-top: 2px solid $primary-text-color;
}

.FooterHeader{
    @include PrimarySubTitle(15px);
    margin: 15px;
}

.Icon{
    color: $primary-text-color;
    @include MarginLeftRight(20px);
}

.CopyrightText{
    margin: auto;
    font-size: 15px;
    color: $primary-text-color;
}
