@import "../../styles/index.scss";

.FooterContainer{
    text-align: center;
    @include PaddingTopBottom(3.6vh);
    background-color: $primary-color;
    border-top: 2px solid $primary-text-color;
}

.Icon{
    color: $primary-text-color;
    @include MarginLeftRight(1.5vw);
}

.CopyrightText{
    margin: auto;
    font-size: 1vw;
    color: $primary-text-color;
}
