.App {
}

.AppBackground{
    background-color: lightblue;
    background-image: url("http://localhost:3000/vector-waves.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 0px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-height: 900px;
}

.HeaderOffset{
    height: 15vh;
}
