$primary-color: white;
$secondary-color: dimgrey;

$accent-color: #3f3ff9;
$accent-hover-color: grey;

$primary-text-color: $secondary-color;
$primary-text-hover-color: #212529;

$secondary-text-color: white;
$secondary-text-hover-color: #fff;

$brand-font: 'Impact';
$primary-text-font: 'Helvetica';
$secondary-text-font: 'Calibri';

$background-color-top: white;
$background-color-bottom: lightblue;

$transition-time: 0.2s;
