$primary-color: white;
$secondary-color: silver;

$accent-color: limegreen;
$accent-hover-color: $secondary-color;

$primary-text-color: darkgrey;
$primary-text-hover-color: #212529;

$secondary-text-color: #212529;
$secondary-text-hover-color: #fff;

$brand-font: 'Montserrat';
$primary-text-font: 'Montserrat';
$secondary-text-font: 'Arial';

$background-color-top: white;
$background-color-bottom: silver;

$transition-time: 0.5s;
