$primary-color: #31393a;
$secondary-color: #dedada;

$accent-color:#fed136;
$accent-hover-color: #fff;

$primary-text-color: #fff;
$primary-text-hover-color: rgb(206, 206, 206);

$secondary-text-color: #1f2525;
$secondary-text-hover-color: #fff;

$brand-font: 'Montserrat';
$primary-text-font: 'Montserrat';
$secondary-text-font: 'Arial';

$background-color-top: #38abc1;
$background-color-bottom: #183c7b;

$transition-time: 0.5s;

$content-font-size: 1.3vw;

